# --- Инструменты и окружение ---
toolchain/
# Игнорировать сгенерированные файлы модели
src/static_model.c
src/static_model.h
static_model.c
static_model.h

# Игнорировать папку сборки
build/

# Игнорировать библиотеку libiec61850 (включая загруженную)
lib/libiec61850/
lib/realtek/
lib/
# Или просто lib/, если хочешь игнорировать всё в папке, кроме sdk

# Игнорировать временные файлы редакторов и ОС
.DS_Store
*.swp
*.bak
*~

# Игнорировать бинарные файлы (если они появляются в корне)
*.o
*.a
*.elf
mms_server_mips