# --- Инструменты и окружение ---
toolchain/

# --- Результаты сборки ---
build/
bin/
*.o
*.out

# --- Библиотеки (те, что скачиваются или генерируются) ---
lib/libiec61850/
# Игнорируем SDK (пользователь распакует его сам), 
# но НЕ игнорируем папку realtek, так как там лежат нужные .a файлы
lib/sdk/

# --- Системные и временные файлы ---
.DS_Store
.vscode/
.idea/
*.swp
*.log